@font-face {
    font-family: "GearsOfPeace";
    src: url('fonts/GearsOfPeace.ttf');
}

body {
  font-family: MetaBold,Trebuchet MS,sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

header {
  text-align:center;
  /*background :-moz-linear-gradient(100% 100% 90deg, #2A2E31, #000000) repeat-x scroll 0 0 transparent;*/
  background: repeat-x url(../images/bg-header.png);
  height : 250px;
  margin: 0 auto;
}

/*#logo{
  float: left;
  margin: 0;
}*/

#main-navigation{
  display: inline-block;
}

/* CSS main navigation -- begin */
#main-navigation ul{
  list-style : none outside none;
  padding-top: 60px;
  margin-top: 0px;
}

#main-navigation ul li{
  display: inline;
  border-right: solid 1px #6DCBDC;
  height: 20px;
  width: 110px;
  padding:5px;
  margin: 0px;
}

#main-navigation ul li a{
  text-decoration: none;
  /*display: block;*/
  font-family: "GearsOfPeace", MetaBlack,TrechuchetMS,sans-serif;
  color: #6DCBDC;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: inherit;
  
  /** transition css Firefox **/
  -moz-transition-delay: 0s;
  -moz-transition-duration: 0.5s;
  -moz-transition-property: color;
  -moz-transition-timing-function: linear;
    /** transition css Safari and Chrome **/
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-property: color;
  -webkit-transition-timing-function: linear;
    /** transition css Opera **/
  -o-transition-delay: 0s;
  -o-transition-duration: 1s;
  -o-transition-property: color;
  -o-transition-timing-function: linear;
}

#main-navigation ul li a:hover {
  color: #DB5A09;
}
/* CSS main navigation -- end */


.clear {
    clear: both;
}

#content{
  width: 960px;
  margin: 10px auto ;
}

#leftCol{
  width: 600px;
  float: left;
}

#rightCol{
  width: 350px;
  float: right;
}

footer {
  text-align:center;
  background : #010202;
  color: white;
  background: repeat url(../images/BackgroundGrey.png);
  height : 145px;
  /*width: 960px;*/
  width: auto;
  margin: 0 auto;
}

#logo-left{
  position: absolute;
  left: 100px;
  top: 10px;
}

#logo-right{
	position: absolute;
	right: 80px;
	top: 30px;
}



